<hgroup><%= @titulo %></hgroup>


<% content_for :imagen do %>
<div class = "row">
	<br/><br/>
	<%= @titulo %>
	
<div class = "span10 offset2"><%= image_tag "slide1.jpg", :size => "800x80" %></div>

</div>
<% end %>



