<% content_for :imagen do %>
<div class = "row">
	<br/><br/>
	<%= @titulo %>
	
<div class = "span10 offset2"><%= image_tag "slide2.jpg", :size => "800x80" %></div>

</div>
<% end %>

<%= @titulo %>
<p>Los MDBs también procesan lógica de negocio, pero un cliente nunca invoca a
un método de un MDB directamente. El sistema de mensajería asincrónica propone la
utilización de una capa intermedia en la comunicación entre el productor y el
consumidor del mensaje. En EJB 3, esta capa se llama MOM (Message-oriented
Middleware). Básicamente la MOM es un software que permite funcionar como
servidor de mensajería, reteniendo los mensajes del productor y enviándolos
posteriormente al consumidor en el momento en que esté disponible para recibirlo.<p>